.reset_button {
  all: unset;
  cursor: pointer;
}

p {
  display: block;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.content {
  width: 100dvh;
  gap: 20px;
}

.content h2 {
  font-size: 1rem;
  margin: 0;
  width: 100%;
  overflow-wrap: break-word;
}

.content p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
}

.scroller {
  overflow: auto;
}

.card_title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.image_wrapper {
  position: relative;
  height: auto;
}

.image_wrapper img {
  border-radius: 0.5em;
  max-width: inherit;
}

.favorite_icon {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: gold;
  text-shadow: 1px 1px 3px #000;
  user-select: none;
}